@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 10px 500px ;
    padding: 0;
    background-color: #f4f4f4;
}
    h1 {
    color: #868686;
}

h3 {
    padding: 30px 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
span {
    text-decoration: underline;
}