@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo>a>img {
width: 60%;
margin-left: 10px;
}

header {
  background-color: #f9f9f9; /* Cor de fundo do cabeçalho */
  color: #303030; /* Cor do texto no cabeçalho */
  padding: 16px 0; /* Espaçamento interno superior e inferior */
}

/* Estilo para o menu no cabeçalho */
.menu {
  list-style: none; /* Remover marcadores de lista */
  padding: 0;
}

.menu li {
  display: inline; /* Exibir os itens do menu na mesma linha */ /* Espaçamento entre os itens do menu */
}

.menu a {
  color: #303030; /* Cor do texto dos links do menu */
  text-decoration: none; /* Remover sublinhado dos links do menu */
  margin: 24px;
}

.menu a:hover {
  color: #000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cadastre-se {
  background-color: #262626; /* Cor de fundo */
  color: #fff !important; /* Cor do texto (branca) */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada (opcional) */
  text-decoration: none; /* Remover sublinhado */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cadastre-se:hover {
  background-color: #151515;
}

.main-container {
  width: 100%;
  margin: 0 auto;
}

.content {
  background:
  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,6)) ,
  url(/images/mike-giovinazzo-unsplash.png);
  background-position: center;
  background-size: cover;
  height: 65vh; /* 65% da altura da tela */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-main {
  color: #fff;
  font-size: 38px;
}

/* CSS */
.btn-main {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-main:hover,
.btn-main:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: black;
}

.btn-main:hover {
  transform: translateY(-1px);
}

.btn-main:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: black;
  transform: translateY(0);
}

.feature-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto ;
}

.feature-item {
  flex: 0 0 30%;
  text-align: center;
  padding: 20px;
}

.icon {
  font-size: 36px;
  width: 65px;
  margin: auto;
  padding: 4px;
  border-radius: 50px;
  border: 5px solid #e0e0e0;
  background-color: #ebebeb;
}

.icon:hover {
  transform: rotateY(360deg);
  transition: all 0.65s;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.icon i {
  margin-top: 5px;
}

h3, h2 {
  font-weight: 500;
}

.welcome-section {
  background-color: #f9f9f9;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-content {
  width: 80%;
  align-items: center;
  font-size: 20px;
  display: flex;
  padding: 20px;
  height: 100%;
}

.video-container {
  flex: 1;
}

.welcome-text {
  text-align: justify;
  font-size: 16px;
  padding: 0 20px 0 0;
}

.welcome-text > span {
  font-size: 24px;
  font-weight: bold;
}

.start-button {
  background-color: #262626;
  color: white;
  border: none;
  padding: 15px 60px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.start-button:hover {
  background-color: #151515;
}

#grid-container {
  width: 80%;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition-duration: .5s;
  cursor: pointer;
  border-radius: 40px ;
}

.recipes-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item:nth-child(1) {
  background-image: url('/images/macarrão.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-item:nth-child(2) {
  background-image: url('/images/yakisoba.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-item:nth-child(3) {
  background-image: url('/images/camarão-empanado.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.grid-item:nth-child(4) {
  background-image: url('/images/hamburguer-artesanal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.grid-item:nth-child(5) {
  background-image: url('/images/pizza.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.grid-item:nth-child(6) {
  background-image: url('/images/parmegiana-de-frango.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(7) {
  background-image: url('/images/bolo-chocolate.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(8) {
  background-image: url('/images/salada.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.grid-item:nth-child(9) {
  background-image: url('/images/brownie.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.recipe-button > a {
  text-decoration: none;
  color: #000;
}

.recipe-button {
  color: black;
  background-color: #fff;
  border: 1px solid #262626;
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 20px 0;
  border-radius: 5px;
}

.recipe-button:hover {
  background-color: #262626;
  color: #fff;
  transition-duration: .3s;
}

.recipe-button>a:hover {
  color: #fff;
  transition-duration: .3s;
}

.footer {
  background-color: #eeeeee;
  padding: 40px;
  text-align: center;
}

.newsletter {
  margin: 0 auto;
  width: 50%;
}

.newsletter > h3 {
  margin-top: 0;
}

.newsletter input[type="text"] {
  padding: 25px 80px 25px 15px;
  margin: 5px 10px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
}

.newsletter-btn {
  background-color: #262626;
  border: none;
  font-size: 20px;
  padding: 12px;
  border-radius: 50px;
  position: relative;
  left: -70px;
  cursor: pointer;
  max-width: 48px;
}

.newsletter-btn:hover {
  background-color: #151515;
}

.footer-links {
  list-style: none; /* Remover marcadores de lista */
  padding: 0;
}

.footer-links li {
  display: inline; /* Exibir os itens do footer-links na mesma linha */
}

.footer-links a {
  color: #303030; /* Cor do texto dos links do footer-links */
  font-weight: 500;
  text-decoration: none; /* Remover sublinhado dos links do footer-links */
  margin: 20px;
}

.footer-links a:hover {
  color: #151515;
}

.footer-complement {
  background-color: #f3f3f3;
  padding: 100px;
  text-align: center;
}

.footer-complement p {
  color: #303030;
}
