@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body { 
  margin: 0;
  padding: 0;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo>a>img {
width: 60%;
margin-left: 10px;
}

header {
  background-color: #f9f9f9; /* Cor de fundo do cabeçalho */
  color: #303030; /* Cor do texto no cabeçalho */
  padding: 16px 0; /* Espaçamento interno superior e inferior */
}

/* Estilo para o menu no cabeçalho */
.menu {
  list-style: none; /* Remover marcadores de lista */
  padding: 0;
}

.menu li {
  display: inline; /* Exibir os itens do menu na mesma linha */
  margin-right: 10px; /* Espaçamento entre os itens do menu */
}

.menu a {
  color: #303030; /* Cor do texto dos links do menu */
  text-decoration: none; /* Remover sublinhado dos links do menu */
  margin: 32px;
}

.menu a:hover {
  color: #151515;
}

.cadastre-se {
  background-color: #262626; /* Cor de fundo */
  color: #fff !important; /* Cor do texto (branca) */
  padding: 10px 20px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada (opcional) */
  text-decoration: none; /* Remover sublinhado */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cadastre-se:hover {
  background-color: #151515;
}

.add-item {
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    padding: 10px;
}

.add-content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

#ingredientes {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #808080;
}

#categorias {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #808080;
}

#qtd {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #808080;
}

.btn {
    margin-bottom: 20px;
    padding: 10px;
    width: 10%;
    border-radius: 5px;
    background-color: #262626;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #151515;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filter {
    width: 80%;
    margin: auto;
}

p {
    font-weight: bold;
}

#pesquisaItem {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.filters-right {
    display: flex;
    float: right;
}

#categorias2 {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

#filtro-ordem {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

/* Estilos para os itens da grade */
.grid-item {
  border: 1px solid #ddd;
  position: relative;
  width: calc(25% - 20px); /* 33.33% do espaço com margem entre os itens */
  margin: 10px;
  text-align: center;
}

.foto-receita {
  max-width: 100%;
  padding: 40px;
  border-radius: 45px;
}

/* Estilos para o h3 */
.grid-item h3{
  position: absolute;
  top: 10px;
  left: 40px;
  margin: 0;
  font-weight: 400; /* Cor do texto do h5 */
  text-transform: capitalize;
}

.grid-item h4{
  color: #808080;
}

.add-btn {
  width: 28px;
  font-size: 20px;
  font-weight: 500;
  background: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #49be25;
}

.add-btn:hover {
  background-color: #49be25;
  color: #fff;
  transition: .4s;
  cursor: pointer;
}

.rmv-btn {
  width: 28px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #980005;
}

.rmv-btn:hover {
  background-color: #980005;
  color: #fff;
  transition: .4s;
  cursor: pointer;
}


.grid-item:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2);
  transition-duration: .2s ;
  cursor: pointer;
}

.footer {
    margin-top: 20px;
    background-color: #eeeeee;
    padding: 40px;
    text-align: center;
  }
  
  .newsletter {
    margin: 0 auto;
    width: 50%;
  }
  
  .newsletter > h3 {
    margin-top: 0;
  }
  
  .newsletter input[type="text"] {
    padding: 25px 80px 25px 15px;
    margin: 5px 10px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
  }
  
  .newsletter-btn {
    background-color: #262626;
    border: none;
    font-size: 20px;
    padding: 12px;
    border-radius: 50px;
    position: relative;
    left: -70px;
    cursor: pointer;
    max-width: 48px;
  }
  
  .newsletter-btn:hover {
    background-color: #151515;
  }
  
  .footer-links {
    list-style: none; /* Remover marcadores de lista */
    padding: 0;
  }
  
  .footer-links li {
    display: inline; /* Exibir os itens do footer-links na mesma linha */
  }
  
  .footer-links a {
    color: #303030; /* Cor do texto dos links do footer-links */
    font-weight: 500;
    text-decoration: none; /* Remover sublinhado dos links do footer-links */
    margin: 20px;
  }
  
  .footer-links a:hover {
    color: #151515;
  }
  
  .footer-complement {
    background-color: #f3f3f3;
    padding: 100px;
    text-align: center;
  }
  
  .footer-complement p {
    color: #303030;
  }
