@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
}

.conteiner {
    display: flex;
}

.left-side {
    height: 100vh;
    width: 35%;
    background-color: #f5f5f5;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.logo {
    width: 40%;
}

.vetor {
    margin: auto;
    display: block;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: auto;
    width: 480px;
}

.right-top {
    position: absolute;
    top: 35px;
    right: 32px;
}

.btn-login {
    margin-left: 10px;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border: 1.5px solid #000;
    border-radius: 5px;
	font-size: 14px;
	margin: 1em;
}

.btn-login:hover {
    border-radius: 50px;
	color: #fff;
	background-color: #262626;
    transition: all 0.3s ease 0s;
	box-shadow: inset 0 0 0 rgba(25, 25, 25, 0.3), 0 0 1.2em rgba(255,255,255,0.5);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 18px 0;
    background-color: #f5f5f5;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

label {
    font-weight: 500;
}

input:hover {
    background-color: #e5e5e5;
    transition-duration: .3s;
}

::placeholder {
    padding-left: 10px;
    font-size: 16px;
    color: #BCBCBC;
    font-weight: 300;
}

button {
    padding: 16px 0;
    border: none;
    background-color: #262626;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:#1e1e1e;
    transition-duration: .15s;
}

h1 {
    font-weight: 500;
    margin: 0;
    font-size: 32px
}

span {
    color: #1e1e1e;
    font-weight: 600;
    font-size: 34px;
}

h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    color: #7E7E7E;
}

.link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

#aceitar-termos{
    padding: 0;
}

.ultimaVerificacao{
    margin-bottom: 10px;
}